// logo colors from line of dots below 'associates', left to right:

$uranian-blue: #B3D3F4ff;
$light-sky-blue: #DFDFFFff;
$air-superiority-blue: #69A1C4ff;
$indigo-dye: #0F527Fff;
$prussian-blue: #0B354Eff;

$secondary: $uranian-blue;
$info: $air-superiority-blue;
$tertiary: $light-sky-blue;
$primary: $indigo-dye;
$light: #F5FFF5;
$nav-underline-link-active-color: $prussian-blue;

$border-radius: 0.35rem;
$border-radius-lg: 1rem;
$border-radius-sm: 0.2rem;

input {
    outline-color: $secondary;
    outline-style: solid;
    outline-width: 2px;
  }

@import 'node_modules/bootstrap/scss/bootstrap.scss';